.thumbnail {
	margin-top: 10px;
	background-color: #cccccc;
	border: none;
	
}


.thumbnail a img{
	height: 180px;
	width: auto;
	border: none;
	border-radius: 0;
	padding-bottom: 10px;
}


.row {
	background-color: #bfbfbf;
}

.thumbnail  #like-parent{
	border:none;
	background-color: Tan;
}

.thumbnail  #dislike{
	border:none;
	background-color: Tan;
}

.thumbnail  #favourite{
	border:none;
	background-color: BurlyWood;
}

.pager li a {
	background-color: LightGreen;
	color:grey;
}



.forms{
	padding: 10px;
	color: green;
}


input[type=submit]{
	background-color: #4CAF50;
	color: white;
	padding: 4px 20px;
	margin: 8px 0;
	border-radius: 4px;
	cursor: pointer;
}

.pop_up_form{
	border-radius: 5px;
	padding: 12px;

}

/* css for all the input, password and email field. especially for all forms */
input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.upload-form{
	margin-left: 140px;
	margin-top: 50px;

	
	
}