
<h2>Imgur</h2>
	<div class="pop_up_form">
		<form method="POST" action="{% url 'login_page' %}">
				{% csrf_token %}
					Username <input type="text" name="username"><br>
					Password <input type="password" name="password" value=""><br>
					<input type="hidden" name="next" value="{{ next }}">
					<input type="submit" name="submit" value="Login">
				
		</form>

		<p><a href="{% url 'register' %}"> Create new account </a></p>
		<a href=""> Forgot password </a>
	</div>


