{% extends 'base.html' %}

{% block head %} The most viral images on the Internet, sorted by popularity. {% endblock %}
{% load staticfiles %}
	

	{% block content_block %}
{#		{% if images.size > 0 %}#}

        <p>Test</p>
			{% for image in images %}
				{% if forloop.first %}<div class="row">{% endif %}
				<div class="col-md-3">
					<div class="thumbnail">
						<a href="../media/{{image.image}}"> <img src="../media/{{image.image}}"></a>
						<p id="image-title"><strong>{{image.title}}</strong></p>
						{% if request.user.is_authenticated %}
							<button type="button" id="like-parent" class="btn btn-default like-counter" data-like="{{image.like.value}}" data-id="{{image.pk}}"><span id="{{image.pk}}">

                                {{image.like.value}}
                            </span> <span class="glyphicon glyphicon-thumbs-up"></span></button>
							<button type="button" id="dislike" class="btn btn-default" data="dislike-count">{{image.dislike}} <span class="glyphicon glyphicon-thumbs-down"></span> </button>
						{% else %}
							<button type="button" id="not-auth" class="btn btn-default like-counter" data-toggle="modal" data-target="#myModal"><span id="{{image.pk}}">{{image.like}}</span> <span class="glyphicon glyphicon-thumbs-up"></span></button>

							<button type="button" id="favourite" class="btn btn-default" ><span class="glyphicon glyphicon-heart"></span></button>
						{% endif %}

					</div>
				</div>
				{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
				{% if forloop.last %}</div>{% endif %}
			{% endfor %}

		<ul class="pager">
			<li class="previous">
				{% if images.has_previous %}
					<a href="?page={{images.previous_page_number}}">Previous</a>
				{% endif %}
			</li>


			<li class="next">
				{% if images.has_next %}
				<a href="?page={{images.next_page_number}}">Next</a>
				{% endif %}
			</li>
		</ul>


{#{% endif%}#}
		<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="background-color: #f2f2f2;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please log-in to upvote the images</h4>
        </div>
        <div class="modal-body" >
          <p>{% include './uploader/include.html' %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>


	{% endblock %}
