{% extends 'base.html' %}

{% block title_block %} Login {% endblock %}

{% block content_block %}

	<form method="POST" action="">
		{% csrf_token %}
		Username <input type="text" name="username"><br>
		Password <input type="password" name="password" value=""><br>
		<input type="hidden" name="next" value="{{ next }}">
		<input type="submit" name="submit" value="Login">
		
	</form>

	
		{% if next_page %}
		<div class="login-info">
			<p> Please register <a href="{% url 'register' %}">Here </a> if you don't have an account already inorder to upload images.</p>
		</div>
		{% endif %}


		

    </div>
  </div>
</div>

{% endblock %}
