{% extends 'base.html' %}


{% block content_block %}
<div class="upload-form text-left">
	<form action="" method="POST" enctype="multipart/form-data" class="forms" role="form">
		{% csrf_token %}
		<div class="form-group">
			{{user_form.as_p}}
		</div>
		<div class="form-group">
			{{profile_form}}
		</div>
		<div class="form-group">
			<input type="submit" name="submit" value="Register">
		</div>
	</form>
</div>
{% endblock %}