{% extends 'base.html' %}
{% block head %} Upload and share the image {% endblock %}


{% block content_block %}
	<div class="upload-form text-left">
	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		Title: {{form.title}}<br>
		File: {{form.image}}<br>
		<input type="submit" name="submit" value="Upload">
	</form>
	</div>
{% endblock %}
