<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!--load my own custom css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Imgur/mycss.css' %}">

	<!--Custom Jquery lib-->
	<script type="text/javascript" src="{% static 'js/myajax.js' %}"></script>

	<title>{% block title_block %} {% endblock %}</title>
</head>
<body>
	<!--beginning of navigation bar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="{% url 'index_page' %}" class="navbar-brand"> Imgur </a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				
				{% if not user.is_authenticated %}
					<li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span> Login</a></li>
					<li><a href="{% url 'register' %}"> <span class="glyphicon glyphicon-briefcase"></span> Register</a></li>
				{% else %}

					<li><a href="{% url 'logout_page' %}">{{user}}  <span class="glyphicon glyphicon-log-out"></span></a></li>
				{% endif %}
				<li><a href="{% url 'upload_page' %}"> <span class="glyphicon glyphicon-upload"></span> Upload</a></li>
			</ul>
		</div>
	</nav>
	<!-- navigation ends here -->



	<div class="container text-center">
		<h2> {% block head %}{% endblock %} </h2>
		{% block content_block %}{% endblock %}
	</div>



	<!-- Modal to show a login pop-up for users without username -->
	<div class="modal fade" id="loginModal" tabindex="9" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            <h4 class="modal-title" id="myModalLabel">Login</h4>
	            </div>
	            <div class="modal-body">
	                {% include "./uploader/include.html" %}
	            </div>
	            <div class="modal-footer">
	              

	        </div>
	    </div>
	  </div>
	</div>

	<!--Modal ends here -->
</body>
</html>